/*

!/.*env
!/.*profile
!/.*rc
!/.*login
!/.*logout
!/.*config
!/.git*

/.gitconfig
/.idlerc/
/.dmrc
/.htoprc
/.k5login
/.netrc
/.npmrc
/.nvidia-settings-rc
/.vuerc

!/.Xkbmap
!/.Xmodmap
!/.tmux.conf
