/*

!/.*config
!/.*env
!/.*profile
!/.*rc
!/.*login
!/.*logout
!/.git*
!/.tmux.conf
!/.Xkbmap
!/.Xmodmap

/.dmrc
/.htoprc
/.idlerc/
/.k5login
/.gitconfig
/.git-credentials
/.netrc
/.npmrc
/.nvidia-settings-rc
/.sommelierrc
/.vuerc

/.config/*
!/.config/bash/
!/.config/fish/
!/.config/git/
!/.config/nvim/
!/.config/sh/
!/.config/zsh/

/.config/fish/fishd.*
/.config/fish/fish_history
/.config/fish/fish_read_history
/.config/fish/fish_variables
/.config/git/credentials
